body {
    margin:0;
    padding:0;
}

p, span {
    margin:0;
    padding:0;
}

#content {
    margin-top: 100px;
    text-align: center;
}

#desc {
    margin: 20px 0px 20px 0px;
}

#name {
    font-size: 36px;
}

#links {
    margin-bottom: 20px;
}

#links ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
}

#links li {
    text-align: center;
    display: inline-block;
}

#link img {
    width: 32px;
    height: 32px;
    border: 0;
    margin: 10px;
}

#popup img {
    width: 32px;
    height: 32px;
    border: 0;
    margin: 10px;
}
